* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --soft-gold: #e8c812;
    --winning-blocks: #263d69;
}

body {
    color: var(--soft-gold);
    font-family: 'Finger Paint', cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 30px;
    /* Added space between heading and buttons */
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #263d69;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

#gameModeSelection {
    margin-top: 20px;
    /* Adjust this value for desired spacing */
}

#gameModeSelection h2 {
    margin-bottom: 15px;
    /* Space between subheading and buttons */
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--soft-gold);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6)~.box {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--soft-gold);
    color: #333;
    border-color: var(--soft-gold);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    margin: 10px;
    /* Added margin between buttons */
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}